@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#slider-c H2 {
  color: #fff8e0;
}
#slider-c P {
  color: #d8d4d1;
}
#slider-c B {
  color: #5cb85c;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#content1-4 P {
  font-size: 20px;
}
#slider2-5 P {
  color: #000000;
}
#slider2-5 H2 {
  color: #fff8e0;
}
#content5-9 P {
  font-size: 20px;
}
